
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /************************************************/
    /*                PAGE 01 HOME                 */
    /************************************************/
    main{
        margin-top: 0;
    }
    /****************HEADER-NAVIGATION******************/
    header{
        background: transparent;
    }
    .navbar-brand {
        padding-left: 80px;
    }
    .nav-up {
        background: rgba(0,0,0,0.5);
    }
    /*****************SECTION 1 - CAROUSEL***********/
    .carousel-caption {
        padding-top: 8%;
    }
    .delicious h1 {
        font-size: 40px;
    }
    .firstSlider p{
        display: block;
    }
    /****************SECTION "hours" ******************/
    .hours .col-sm-4 p {
        padding: 50px 0 10px;
    }
    /****************SECTION "services" ******************/
    .dinnerHover{
        padding-top: 40px;
    }
    .dinner .dinnerHover a{
        display: none;
    }
    .dinner:hover .dinnerHover a{
        display: inline-block;
        margin: 0 auto;
    }
    .dinnerHover a.goldRound{
        transition: 3s;
    }
    .dinnerHover:hover a.goldRound{
        transition: 3s;
    }
    /****************SECTION "reservation" ******************/
    .reservation .row {
        margin-bottom: 40px;
    }
    .vibes {
        margin-top: 50px;
    }
    /****************SECTION "blog" ******************/
    .blog ul {
        padding-bottom: 15px;
    }
    /****************SECTION "footerTop" ******************/
    .social img{
        margin: 30px auto; 
        -webkit-transition: -webkit-transform .9s ease-in-out;
        transition: transform .9s ease-in-out;
    }
    .social img:hover{
        -webkit-transform: rotateY(360deg); /* Safari */
        transform: rotateY(360deg);
    }
    .line{
        margin: 30px 150px 30px;
    }
    .contact .line{
        margin: 10px 150px;
    }
    .insta img{
        margin: 0 auto;
    }
    .insta ul li{
        padding-bottom: 35px;
    }
    .instaHover{
        margin: 0 auto;
        left: 0;
    }

    /************************************************/
    /*                PAGE 02 ABOUT                 */
    /************************************************/

    /*****************SECTION "mainImg"***********/
    .mainImg{
        height: 250px;
    }
    .about h1 {
        font-size: 40px;
        padding-top: 40px;
    }
    /*****************SECTION "clients"***********/
    .clients h2, .events h2 {
        margin-top: 60px;
    }
    .clients .item p{
        padding: 50px 100px 20px;
        font-size: 15px;
    }
    .clients .item{
        text-align: center;
    }
    .clients .item figure{
        display: inline-block;
        vertical-align: top;
    }
    .clients .item figure img {
        max-height: 100%;
        max-width: 100%;
    }
    .clients .item p.sans {
        text-align: center;
        display: inline-block;
        padding: 0;
        line-height: 40px;
    }
    /************************************************/
    /*            PAGE 04 SINGLE MENU               */
    /************************************************/

    /*****************SECTION - "steak"***********/
    .steak .dhaka{
        margin-top: -25px;
    }
    .steak .dhaka p{
        padding: 5px;
        font-size: 18px;
    }
    .steak .about-dhaka{
        padding: 30px;
    }
    .nutrition article{
        text-align: center;
    }
    /************************************************/
    /*               PAGE 05 BLOG                   */
    /************************************************/
    /*****************SECTION - "blog-page"***********/
    .blog-pizza ul li {
        display: inline-block;
    }     
    /************************************************/
    /*              PAGE 07 RESERVATION             */
    /************************************************/
    /*********SECTION - "reservation-page"***********/
    .reservation-page button{
        width: 180px;
    }
    .call-hover p.call-left{
        text-align: right;
        padding-right: 15px;
    }
    .call-hover p.call-right{
        text-align: left;
        padding-left: 15px;
    }

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    /************************************************/
    /*                PAGE 01 HOME                 */
    /************************************************/

    /********GENERAL SETTINGS********/
    .restaurant,
    .services,
    .food,
    .reservation{
        padding: 40px 0;
    }
    /****************HEADER-NAVIGATION******************/

    .navImg-up{ 
        width: 80px;
    }
    .navImg-down{
        width: 80px;
    }
    .navbar-brand {
        margin-top: -15px;
        padding-left: 20px;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 18px;
        padding-top: 20px;
    }
    .navbar-nav {
        padding-top: 30px;
    }

    /*****************SECTION 1- CAROUSEL***********/
    .delicious p {
        font-size: 20px;
    }
    .delicious h1 {
        font-size: 70px;
    }
    /****************SECTION "services" ******************/
    .dinnerHover {
        padding-top: 25px;
    }
    /****************SECTION "food" ******************/
    .foodBck {
        margin-right: 50px;
        margin-left: 50px;
    }
    .foodBck .breakfast{
        padding: 0;
        border-right: 2px solid #000;
    }
    /****************SECTION "ourChef" ******************/
    .chefBlack {
        padding-left: 100px;
        width: 70%;
    }
    figure.chefPic {
        height: 400px;
        width: 350px;
        margin: 0;
        top: -25px;
        left: -55px;
        right: 0;
        bottom: 0;
        position: absolute
    }
    .chefPic img{
        max-width: 100%;
        max-height: 100%;
    }
    /****************SECTION "reservation" ******************/
    .reservation h2{
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .reservation form{
        margin: 0 auto;
        padding: 20px;
    }
    .reservation button {
        width: 97%;
        margin-top: 25px;
    }
    .reservation .row{
        padding: 30px;
    }
    /****************SECTION "footerTop" ******************/
    .footerTop{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .footRow{
        padding-right: 5px;
        padding-left: 10px;
        font-size: 12px;
        border-right: 1px solid #2e2e2e;
    }
    .footRow:last-of-type{
        border-right: none;
    }
    .social ul{
        margin-top: 30px;
    }
    .footerTop p{
        text-align: left;
    }
    .footerTop h3{
        text-align: left;
        margin-bottom: 15px;
    }
    .line {
        margin: 30px 10px;
    }
    .contact .line {
        margin: 15px 10px;
    }
    .insta img{
        width: 60px;
        height: 60px;
    }
    .insta ul li {
        padding-bottom: 20px;
    }
    .instaHover{
        padding: 15px 10px;
        width: 60px;
        height: 60px;
    }
    /************************************************/
    /*                PAGE 02 ABOUT                 */
    /************************************************/
    /*****************SECTION "mainImg"***********/
    .mainImg{
        height: 330px;
    }
    .about h1 {
        font-size: 70px;
        padding-top: 50px;
    }
    /*****************SECTION "experience"***********/
    .experience h2{
        margin-top: 15px;
    }
    .experience figure{
        height: 378px;
    }
    .experience img{
        height: 100%;
    }
    .soto{
        padding-right: 0;
        height: 378px;
    }
    .knife{
        padding-left: 0;
        padding-right: 0;
    }
    /*****************SECTION "clients"***********/
    .clients .item p{
        padding: 50px 130px 20px;
        font-size: 15px;
    }
    /*****************SECTION "events"***********/
    .bandHover{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background: #d4af37;
        padding: 0 5px 0 25px;
        color: #fff;
        font-size: 15px;
        display: none;
    }
    /************************************************/
    /*                PAGE 03 MENU                  */
    /************************************************/
    /*****************SECTION "breakfast-menu"***********/
    .breakfast-menu{
        margin-top: 60px;
    }
    .menu-break img {
        padding-top: 0;
    }
    .breakfast-menu .pasta {
        margin-top: 0;
    }
    .pasta{
        display: block;
    }
    /*****************SECTION "drinks"***********/
    .drinks{
        margin-bottom: 60px;
    }
    /************************************************/
    /*            PAGE 04 SINGLE MENU               */
    /************************************************/

    /*****************SECTION - "steak"***********/
    .steak .dhaka{
        margin-top: -30px;
        margin-bottom: 50px;
    }
    .steak .dhaka p{
        padding: 5px;
        font-size: 24px;
    }
    .steak .dhaka p span{
        padding: 10px;
    }
    .steak .about-dhaka{
        font-size: 13px;
    }
    .nutrition article{
        text-align: left;
    }
    /************************************************/
    /*               PAGE 06 BLOG                   */
    /************************************************/
    /*****************SECTION - "blog-details"***********/
    .blog-posts figure {
        margin: 0;
    }
    .blog-posts figure img{
        width: 80%;
    }
    .carousel-hover {
        left: 0;
        width: 92%;
        height: 80%;
    }
    .owl-theme .owl-controls .owl-buttons div.owl-next,
    .owl-theme .owl-controls .owl-buttons div.owl-prev{
        margin-top: -20px;
    }
    /************************************************/
    /*              PAGE 07 RESERVATION             */
    /************************************************/
    /*********SECTION - "reservation-page"***********/
    .reservation-page button{
        width: 180px;
    }
    .call-hover p.call-right{
        text-align: left;
        padding-left: 25px;
    }
    /************************************************/
    /*              PAGE 09 RESERVATION             */
    /************************************************/
    /*********SECTION - "gmap"***********/
    .gmap iframe{
        width: 100%;
        height: 400px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /************************************************/
    /*                PAGE 01 HOME                 */
    /************************************************/

    /********GENERAL SETTINGS********/
    .restaurant,
    .wood,
    .services,
    .food,
    .ourChef,
    .reservation,
    .blog{
        padding: 0;
        margin-bottom: 0;
        margin-top: 80px;
    }
    .services h2,
    .food h2,
    .ourChef h2,
    .reservation h2,
    .blog h2{
        margin-top: 0px;
        margin-bottom: 75px;
        font-size: 48px;
    }
    .food h2, .reservation h2{
        margin-top: 70px;
    }
    /****************HEADER-NAVIGATION******************/

    .navImg-up{ 
        width: 170px;
    }
    .navImg-down{
        width: 90px;
    }
    .navbar-nav {
        padding-left: 50px;
    }

    /*****************SECTION 1 - CAROUSEL***********/
    .carousel-caption {
        padding-top: 10%;
    }
    .delicious h1 {
        font-size: 100px;
    }
    .delicious p { 
        font-size: 24px;
    }
    /****************SECTION "restaurant" ******************/

    .restaurant h2{
        font-size: 60px;
    }
    .restaurant h2.gold {
        margin-bottom: -25px;
    }
    /****************SECTION "wood" ******************/
    .wood .carousel-control .glyphicon-chevron-left, .wood .carousel-control .icon-prev {
        margin-left: -35px;
    }
    .wood .carousel-control .glyphicon-chevron-right, .wood .carousel-control .icon-next {
        margin-right: -35px;
    }
    .wood .carousel-indicators {
        bottom: -35px;
    }
    .wood .item h3{
        font-size: 36px;
    }
    /****************SECTION "services" ******************/
    .dinnerHover {
        padding-top: 45px;
    }
    /****************SECTION "food" ******************/
    .foodBck {
        margin-right: -15px;
        margin-left: -15px;
    }
    .icons1, .icons2, .icons3, .icons4 {
        width: 90px;
        height: 140px;
    }
    .food li h5 {
        margin-top: 50px;
    }
    .food .tab-content{
        padding-top: 30px;
    }
    /****************SECTION "ourChef" ******************/
    .chefLauren {
        padding-left: 75px;
    }
    figure.chefPic {
        height: 545px;
        left: -25px;
        top: -10px;
    }
    .chefBlack {
        padding: 50px 50px 50px 160px;
        width: 80%;
    }
    /****************SECTION "reservation" ******************/
    .reservation form{
        padding: 0 70px;
    }
    .reservation .row{
        margin-bottom: 100px;
    }
    /****************SECTION "footerTop" ******************/
    .footerTop {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .insta img {
        width: 70px;
        height: 70px;
    }
    .instaHover {
        padding: 20px 10px;
        width: 70px;
        height: 70px;
    }
    /****************SECTION "footerBottom" ******************/
    .footerBottom p {
        padding: 25px 0;
    }

    /************************************************/
    /*                PAGE 02 ABOUT                 */
    /************************************************/
    /*****************SECTION "mainImg"***********/
    .mainImg{
        height: 380px;
    }
    .about h1 {
        font-size: 100px;
        padding-top: 70px;
    }
    /****************SECTION "experience" ******************/   
    .experience{
        margin-top: 60px;
    }
    .soto{
        padding-top: 0;
        height: 600px;
    }
    .soto article{
        font-size: 13px;
    }
    .soto h2{
        margin-top: 90.5px;
        font-size: 48px;
    }
    .sotoChef{
        margin-top: 50px;
    }
    .soto ul{
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .knife figure{
        height: 600px;
    }
    .knife img{
        height: 100%;
    }
    /*****************SECTION "clients"***********/
    .clients{
        margin-top: 70px;
    }
    .clients h2 {
        margin-top: 75px;
        font-size: 48px;
    }
    .clients .item p {
        padding: 30px 220px 20px;
    }
    /*****************SECTION "events"***********/
    .events h2 {
        margin-top: 90px;
        margin-bottom: 80px;
        font-size: 48px;
    }
    .bandHover {
        font-size: 12px;
    }
    /************************************************/
    /*                PAGE 03 MENU                  */
    /************************************************/
    /*****************SECTION "breakfast-menu"***********/
    .breakfast-menu {
        position: relative;
        background: url("style-images/desserts.png")no-repeat right top;
        background-size: 150px 100px;
    }
    .breakfast-menu .row,
    .lunch .row,
    .dinner-menu .row,
    .drinks .row{
        margin: 0;
    }
    .breakfast-menu .col-md-4,
    .dinner-menu .col-md-4{
        padding-right: 0;
    }
    .lunch .col-md-4,
    .drinks .col-md-4{
        padding-left: 0;
    }
    .food-menu .marmo {
        margin-bottom: 52px;
    }
    .food-menu .row {
        padding: 15px;
    }
    /*****************SECTION "lunch"***********/
    .lunch{
        padding-top: 115px;
        position: relative;
        background: url("style-images/spaghetti.png")no-repeat 20px 10px;
        background-size: 130px 90px;
    }

    /*****************SECTION "dinner-menu"***********/
    .dinner-menu{
        padding-top: 115px;
        position: relative;
        background: url("style-images/pizza.png")no-repeat right top;
        background-size: 150px 100px;
    }
    /*****************SECTION "drinks"***********/
    .drinks{
        padding-top: 115px;
        margin-bottom: 115px;
        position: relative;
        background: url("style-images/vine.png")no-repeat 10px top;
        background-size: 150px 100px;
    }
    /************************************************/
    /*            PAGE 04 SINGLE MENU               */
    /************************************************/
    .mainImg-blog{
        margin-bottom: 0;
    }
    /*****************SECTION - "steak"***********/
    .nutrition article{
        padding: 30px;
        margin-bottom: 80px;
    }
    /************************************************/
    /*               PAGE 05 BLOG                   */
    /************************************************/
    .blog-page{
        margin-top: 80px;
    }
    .blog-pizza,
    .blog-categories{
        margin-top: 0;
    }
    .blog-pizza{
        margin-bottom: 80px;
    }
    .blog-pizza ul{
        margin-bottom: 30px;
    }
    /************************************************/
    /*               PAGE 06 BLOG                   */
    /************************************************/
    /***************SECTION - "blog-details"***********/
    .carousel-hover {
        width: 270px;
        height: 185px;
    }
    .blog-posts figure img {
        width: 100%;
    }
    .owl-theme .owl-controls .owl-buttons div.owl-next,
    .owl-theme .owl-controls .owl-buttons div.owl-prev{
        margin-top: 0;
    }
    .owl-theme .owl-controls .owl-buttons div.owl-next{
        right: 15px;
    }
    .blog-pizza1{
        margin-bottom: 60px;
    }
    .blog-margin{
        margin-bottom: 40px;
    }
    .blog-author{
        margin-bottom: 60px;
    }
    .pappu{
        margin-top: 20px;
    }
    .author .gray-link{
        padding: 5px 25px;
    }
    .text-comment button{
        width: 200px;
        margin-bottom: 80px;
    }
    .blog-paging{
        margin-bottom: 80px;
    }
    /************************************************/
    /*              PAGE 07 RESERVATION             */
    /************************************************/
    /*********SECTION - "reservation-page"***********/
    .reservation-page{
        margin-top: 80px;
    }
    .reservation-page h4{
        font-size: 24px;
    }
    .call{
        height: 300px;
    }
    .call-hover h1{
        font-size: 60px;
        margin-top: 65px;
    }
    .call-hover p{
        font-size: 24px;
    }
    .call-hover p.call-left{
        text-align: right;
        padding-right: 15px;
    }
    .call-hover p.call-right{
        text-align: left;
        padding-left: 30px;
    }
    /************************************************/
    /*              PAGE 09 RESERVATION             */
    /************************************************/
    /*********SECTION - "gmap"***********/
    .contact-info{
        margin: 80px 0;
    }
    .contact-info h4{
        margin-top: 0;
    }
    .contact-info .input-group,
    .contact-info textarea{
        margin-bottom: 30px;
    }
    .contact-info button{
        margin-bottom: 0;
    }
    /*********SECTION - "gmap"***********/
    .gmap iframe{
        width: 100%;
        height: 500px;
    } 
}





